main,
.page-grid,
.header-image {
  background-repeat: no-repeat;
  background-position-x: center;
}

main {
  background-image: url("/images/Russell.jpg");
  background-size: 175%;
  background-position-y: bottom;
  min-height: 100vh;
  object-fit: cover;
  padding: 0 15px;
}

main p {
  font-size: var(--font-size-paragraphs-main);
  padding: 0;
}

main img {
  border-radius: 50%;
  max-width: 60%;
  min-width: 220px;
  margin: 0 auto 15px auto;
}

.page-grid {
  display: grid;
  grid-template-rows: 320px 500px 1fr 150px;
  line-height: var(--line-height);
  background-image: url("/images/top-splash.svg");
  background-size: 500px;
  background-position-y: 35px;
}

.header-image {
  background-image: url("/images/about-logo-artrospective.svg");
  background-size: 335px;
  background-position-y: center;
}

.grid-section-one {
  margin: auto;
  max-width: 500px;
  margin-top: 0;
}

.grid-section-two {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;
  justify-content: center;
  max-width: 500px;
  padding: 50px;
  margin: auto;
  background: var(--main-background-two);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.42);
}

.grid-section-two div div:nth-child(1) {
  display: flex;
}

@media screen and (min-width: 1000px) {
  main {
    background-position-y: 970px;
    background-size: 100%;
  }

  main img {
    max-width: 220px;
  }

  .header-image {
    background-size: 400px;
  }

  .grid-section-two {
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: unset;
    max-width: 1000px;
  }

  .page-grid {
    background-image: url("/images/big-splash.svg"),
      url("/images/small-splash.svg"), url("/images/top-splash.svg");
    background-size: 325px, 415px, 430px;
    background-position-y: 50%, 17%, -7%;
    background-position-x: 6%, 102%, 10%;
  }

  .header-image {
    background-size: 470px;
  }
}
