main {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(5, auto) 100px;
  gap: 60px;
  padding: 0 15px;
}

main h1 {
  margin: 50px 0 0 0;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

/*Search*/
main input {
  height: 36px;
  width: 220px;
  padding-left: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid black;
}

.search {
  margin-left: auto;
  margin-right: auto;
}

.search div {
  display: flex;
  height: 36px;
}

.search button {
  padding: 10px 15px 9px 11px;
  cursor: pointer;
  background: rgb(0, 0, 0);
  border: 1px solid black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 108%;
  width: 12%;
}

.search img {
  height: 17px;
}

/*Categories*/

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.category-button {
  background: var(--category-button-background-default);
  color: var(--category-button-color-default);
  cursor: pointer;
  transition: all 0.2 ease-in-out;
}

.active-button {
  background: var(--category-button-background-active);
  color: var(--category-button-color-active);
}

.category-button,
.active-button {
  padding: 5px 20px 7px 20px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 1em;
  height: 36px;
}

/*Hover effect category buttons*/
.category-button:hover,
.more-articles-button button:hover {
  border: 1.8px solid black;
  transform: scale(1.05);
}

.search button:hover {
  border: 1px solid rgb(159, 159, 159);
}

/*Articles*/
.articles-container img {
  width: 100%;
}

.articles-container {
  max-width: 780px;
  margin: 0 auto;
}

.articles-container div {
  display: grid;
  grid-template-rows: 30% 25% 5% 2% 5%;
  margin-bottom: 50px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 800px) {
  main input {
    width: 330px;
  }

  .articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .articles-container div {
    grid-template-rows: 29% 28% 4% 3% 2%;
  }

  .category-buttons {
    max-width: 750px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1000px) {
  .articles-container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    gap: 30px;
  }

  .articles-container div {
    grid-template-rows: 22% 31% 3% 2% 5%;
  }

  main h1 {
    max-width: 1000px;
  }
  .category-buttons {
    max-width: 1000px;
  }

  @media screen and (min-width: 1300px) {
    .articles-container {
      max-width: 1200px;
    }

    .articles-container div {
      grid-template-rows: 28% 27% 4% 5% 4%;
    }

    main h1,
    .category-buttons {
      max-width: unset;
    }
  }
}
