@import "imports/variables.css";

main {
  display: grid;
  grid-template-rows: 1fr 100px;
}

main p {
  color: rgb(0, 0, 0);
  max-widt: 250px;
  padding-left: 15px;
  padding-right: 15px;
}

main h3 {
  text-align: center;
}

/*Homepage carousel*/

.article-carousel {
  margin: auto;
  margin-top: 100px;
  height: 2000px;
  width: 350px;
  position: relative;
  max-widt: 800px;
}

.carousel-image {
  width: 100%;
  height: 30%;
  object-fit: cover;
}

.carousel-track-container {
  overflow: hidden;
  background: lawngreen;
  position: relative;
  height: 100%;
}

.carousel-track {
  margin: 0;
  padding: 0;
  list-style: none;
  transition: transform 400ms ease-in;
  height: 100%;
}

.carousel-slide {
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;
}

.carousel-button {
  cursor: pointer;
  background: transparent;
  border: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.carousel-button--left {
  left: -50px;
}

.carousel-button--right {
  right: -50px;
}

.carousel-button img {
  width: 20px;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.carousel-indicator {
  cursor: pointer;
  margin: 0 12px;
  background: rgb(194, 194, 194);
  height: 20px;
  width: 20px;
  border: 0;
  border-radius: 50%;
}

.active-slide {
  background: rgb(177, 177, 177);
}

.is-hidden {
  display: none;
}

@media screen and (min-width: 500px) {
  .article-carousel {
    height: 2300px;
    width: 480px;
  }
}

@media screen and (min-width: 600px) {
  .article-carousel {
    height: 1500px;
    width: 580px;
  }

  main li div:nth-child(1) img {
    height: 65%;
  }

  main li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 900px 1fr;
    column-gap: 10px;
  }

  main li div:nth-child(1) {
    grid-row: 1/2;
    grid-column: span 2;
  }
}

@media screen and (min-width: 800px) {
  main li {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
  }

  main li div:nth-child(1) img {
    height: 50%;
  }

  main li div:nth-child(1) {
    grid-column: unset;
  }

  .article-carousel {
    height: 700px;
    width: 80%;
  }

  .carousel-image {
    width: 100%;
    height: 50%;
    object-fi: unset;
  }

  .active-slide {
    background: rgb(241, 241, 241);
    overflow: hidden;
  }

  .carousel-slide {
    width: 100%;

    overflo: hidden;
  }

  .test-one,
  .test-two {
    displa: flex;
  }

  .hide {
    display: none;
  }
}
