@import "imports/variables.css";

main {
  display: grid;
  gap: 200px;
  grid-template-rows: 300px 1fr 50px;
}

h1 {
  max-width: 350px;
}

.title-bigger-size {
  font-size: 1.4em;
}

h1 img {
  width: 350px;
}

.center-h1 {
  margin: auto;
  margin-top: 50px;
}

/*Read more button hover effect*/

a:hover {
  color: rgb(199, 199, 199);
}

/*Homepage carousel*/

main p {
  color: rgb(0, 0, 0);
  margin: 5px;
  line-height: var(--line-height);
}

main li {
  display: grid;
  gap: 20px;
}

main li div {
  background: var(--carousel-background);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-rows: 250px;
  justify-content: center;
}

.article-carousel {
  margin: auto;
  margin-top: 100px;
  height: 2800px;
  width: 350px;
  position: relative;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-track-container {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.carousel-track {
  margin: 0;
  padding: 0;
  list-style: none;
  transition: transform 400ms ease-in;
  height: 100%;
}

.carousel-slide {
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;
}

.carousel-button {
  cursor: pointer;
  background: transparent;
  border: 0;
  top: 50%;
  transform: translateY(-3470%);
  position: absolute;
}

.carousel-button--left {
  right: 90%;
}

.carousel-button--right {
  left: 90%;
}

.carousel-button img {
  width: 20px;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.carousel-indicator {
  cursor: pointer;
  margin: 0 12px;
  background: rgb(194, 194, 194);
  height: 17px;
  width: 17px;
  border: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.27);
}

.carousel-indicator.active-slide {
  background: rgba(0, 0, 0, 70);
}

.is-hidden {
  display: none;
}

main li div a {
  text-decoration: none;
  text-align: center;
  font-size: 0.85em;
  color: var(--text-color-one);
  font-weight: bold;
  background: black;
  padding: 10px 30px;
  padding-top: 11px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 25px;
  box-sizing: border-box;
}

@media screen and (min-width: 500px) {
  h1 {
    max-width: 450px;
  }

  .title-bigger-size {
    font-size: 1.5em;
  }

  .article-carousel {
    height: 2710px;
    width: 480px;
  }
  .carousel-button {
    transform: translateY(-3365%);
  }

  main li div {
    grid-template-rows: 350px;
  }
}

@media screen and (min-width: 600px) {
  h1 {
    max-width: 550px;
  }

  main {
    grid-template-rows: 250px 1fr 50px;
    background-image: url("/images/top-splash.svg");
    background-size: 400px;
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;
  }

  .article-carousel {
    width: 580px;
  }
}

@media screen and (min-width: 800px) {
  h1 {
    max-width: 780px;
  }

  main {
    grid-template-rows: 120px 1fr 50px;
  }

  main li div {
    grid-template-rows: 500px 150px 30px 40px 50px;
  }

  .article-carousel {
    width: 780px;
    height: 3000px;
  }

  .carousel-button {
    transform: translateY(-3720%);
  }
}

@media screen and (min-width: 1050px) {
  h1 {
    max-width: 1000px;
    font-size: 2.2em;
    line-height: var(--line-height);
  }

  main {
    grid-template-rows: 0px 1fr 50px;
  }

  main li {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 10px;
  }

  main li div {
    grid-template-rows: 250px 300px 30px 0px 50px;
  }

  main li div:nth-child(1) {
    grid-column: unset;
  }

  .article-carousel {
    height: 1020px;
    width: 900px;
  }

  .carousel-button {
    transform: translateY(-50%);
    transform: translateX(400%);
  }

  .carousel-button--left {
    right: 115%;
  }
}

@media screen and (min-width: 1300px) {
  main {
    grid-template-rows: 20px 1fr 0px;
  }

  main li div {
    grid-template-rows: 290px 220px 30px 40px 10px;
  }

  main p,
  main a {
    font-size: 0.9em;
  }

  .article-carousel {
    height: 850px;
    width: 1200px;
  }

  main li div {
    grid-template-rows: 290px 220px 30px 40px 10px;
  }

  .carousel-button--left {
    right: 111%;
  }

  .carousel-button--right {
    left: 92%;
  }
}
